<!DOCOYPE HTML>
<html>
    <head>
        <title> ABOUT</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
        <body>
            <div  class="main-content">
             {{>header}}
             <img  class="portrait" src="/img/download.jpg">

             
          </div>
           {{>footer}}
           
        </body>
   
</html>